NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCvm70luWkiPWe46eErtkLZsQzf0sgQgpI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=job-portal-app-72db3.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=job-portal-app-72db3
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=job-portal-app-72db3.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1028801677157
NEXT_PUBLIC_FIREBASE_APP_ID=1:1028801677157:web:a9870032fc4791c3b0438c
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-X0WTWEBKDQ
